.message-card {
  width: 90%;
  height: 15%;
  margin: 30px auto;
  border-bottom: 1px solid gray;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.message-card__image {
  border-radius: 50%;
  border: 1px solid wheat;
  margin: 0 5px 0 0;
  padding: 2px;
  width: 55px;
  height: 55px;
}

.Message-card__content {
  width: 65%;
}

.message-card__username {
  margin: 0 0 5px 0;
  font-size: 21px;
  font-weight: 700;
  text-transform: capitalize;
}

.Message-card__message {
  font-size: 16px;
}

.message-card__time {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message-card__time-span {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 16px;
}
