@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

.signup {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)),
    url('../../assets/study-group.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.signup__body{
  background: #FFFFFF;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
  padding: 20px;
  height: 100%;
}

.signup__form{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.signup__heading{
  font-family: Roboto;
  text-align: center;
  color: #535353;
  padding: 30px;
}

.signup__input{
  width: 100%;
  color: #000000;
  background: #DADADA;
}

.err-msg{
  display: none;
}

.signup__button {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  width: 70%;
  margin: 20px 0 0 0;
  padding: 12px 20px;
  border: none;
  border-radius: 25px;
  outline: none;
  background: #52de97;
  color: #fff;
  cursor: pointer;
}