@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

.signup {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 50%), rgba(0, 0, 0, 50%)),
    url('../../assets/study-group.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.signup__form{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.err-msg{
  display: none;
}

/* .signUp-button {
  width: 100%;
  padding: 12px 20px;
  border: none;
  outline: none;
  border-radius: 25px;
  background: #fff;
  margin: 20px 0 0 0;
  font-weight: 700;
  text-transform: capitalize;
  color: #535353;
  font-size: 18px;
  cursor: pointer;
} */

.signUp-button {
  margin: 20px 0;
  background: #52de97;
  color: #fff;
}