.under-construct {
  width: 80%;
  min-height: 50vh;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(196, 196, 196, 0.7);
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.under-construct__heading {
  text-transform: capitalize;
  font-size: 24px;
  color: #242424;
}

.under-construct__text {
  margin: 10px 0 0 0;
  font-size: 18px;
  color: rgb(61, 61, 61);
}
