.message-card {
  width: 90%;
  height: 15%;
  margin: 30px auto;
  border-bottom:1px solid gray;
  display: flex; 
}

.message-card__image {
  border-radius:50%;
  border:1px solid wheat;
  margin: 15px 30px;
  padding: 2px;
  width: 25%;
  height: 25%;
  margin-left: 0px;
}

.Message-card__content {
  width: 65%;
}

.Message-card__content p {
  font-size: 18px;
}

.message-time {
  display: flex;
  align-items: center;
}

.message-time span {
  font-family: Roboto;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 16px;
display: flex;
align-items: center;
}