select,
select option {
  background-color: #ececec;
  color: #322f2f;
  width: 70%;
  margin: 10px 0;
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 8px;
}

select option {
  background-color: #f1f1f1 !important;
}

label {
  display: block;
  color: #484848;
  font-size: 18px;
  text-transform: capitalize;
}
