.custom-input {
  width: 100%;
  margin: 10px 0;
  padding: 10px 20px;
  background-color: #dadada;
  border: none;
  outline: none;
  font-size: 18px;
  color: #8a8a8a;
  text-transform: capitalize;
  border-radius: 10px;
}
